@media(max-width: 600px){
    .toggle-button{
        display: none;
    }

    #navbar{
        justify-content: center;
        display: block;
        height: 100px;
    }
    .title{
       padding: 15px;
        text-align: center;
    }

   .navbar-links ul{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    h1{
        text-align: center;
    }
    .container{
       display: block;
    }
    .place-date{
        padding: 5px;
    }
    .place-date:nth-child(odd){
        background-color: lightblue;
    }
}

@media(max-width: 900px){
    #timeline ul li div{
        width: 250px;
    }
    #timeline ul li:nth-child(even) div {
        left: -284px;
    }
}
/* Ourstory Mobile Responsiveness */

@media(max-width: 600px) {
    #timeline ul li{
        margin-left: 20px;
    }
    #timeline ul li div{
        width: calc(100vw - 90px);
    }
    #timeline ul li:nth-child(even) div{
        left: 40px;
    }
    #timeline ul li:nth-child(even) div:before{
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--primary-color) transparent transparent;
    }
}

/* RSVP Section */
@media(max-width: 600px){
    .grid-container{
        display: block;
    }
}
