*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
}
#rsvp{
    background-color: rgb(235, 222, 222);
}
.rsvp-container{
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    text-align: center;
  
}
#rsvp-header{
    padding: 10px;
}
img{
    width: 100%;
}
input{
    display: block;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}