:root{
    --primary-color: rgb(24, 64, 97);
    --secondary-color: rgb(235, 222, 222);
    --max-width: 1100px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poiret One', cursive;
    font-size: normal;
    line-height: 1.5rem;
    background-color: var(--secondary-color);
    color: black;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#main-header{
    background: var(--primary-color);
    padding: 4rem 0;
}
#main-header h1{
    padding: 1rem;
    font-size: 2.3rem;
}
#main-header i{
    margin-right: 10px;
}

.container{
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
}

#timeline ul{
    background: var(--secondary-color);
    padding: 50px 0;
}

/* Create line that comes and splits the screen down the middle */
#timeline ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: white;
}

/* Create Boxes for each item on timeline */

#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    /* background: var(--primary-color); */
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    height: 350px;
    /* Timeline images */
}
#met{
    background: url('https://images.unsplash.com/photo-1505150099521-fde7970bcc3a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')  no-repeat center center/cover;
}
#boy-girl{
    background: url('https://images.unsplash.com/photo-1541089404510-5c9a779841fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') no-repeat center center/cover;
}
#trip{
    background: url('https://images.unsplash.com/photo-1512790941078-1158a9cc3255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=332&q=80') no-repeat center center/cover;
}
#anniversaty{
    background: url('https://images.unsplash.com/photo-1455906876003-298dd8c44ec8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=927&q=80') no-repeat center center/cover;
}
#moved{
    background: url('https://images.unsplash.com/photo-1560182949-be08bdd550e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=782&q=80') no-repeat center center/cover;
}
#gaby{
    background: url('https://images.unsplash.com/photo-1551934262-db2d7dd517f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80') no-repeat center center/cover;
}
#proposal{
    background: url('https://images.unsplash.com/photo-1514432433435-ce2c7903dfba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80') no-repeat center center/cover;
}
/* Right side of timeline */

#timeline ul li:nth-child(odd) div{
    left: 40px;
    transform: translate(200px, 0);
}
/* Left side of timeline */
#timeline ul li:nth-child(even) div{
    left: -434px;
    transform: translate(-200px, 0);
}
/* Dots */
#timeline ul li:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

/* Arrow Base */
#timeline div:before{
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #ff5252 transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent  transparent transparent #ff5252;
}

/* Show Boxes */
#timeline ul li.show div{
    transform: none;
    visibility: visible;
    opacity: 1;
}
#timeline ul li.show:after{
    background: #ff5252;
}



